rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAuth() {
      return request.auth != null;
    }

    function isAdmin() {
      return isAuth() && "admin" in request.auth.token && request.auth.token.admin == true;
    }

    match /admin_users/{uid} {
      allow read, create: if isAdmin();
      allow delete: if isAdmin() && request.auth.uid == uid;
      allow update: if false;
    }

    match /student_info/{uid} {
      allow read: if isAuth();
      allow write: if isAdmin();
    }

    match /student_users/{uid} {
      allow read, write: if isAdmin();
    }

    match /student_choice/{uid} {
      allow read: if isAuth();
      allow update: if isAdmin() || (isAuth() && request.auth.uid == uid);
      allow create, delete: if isAdmin();
    }

    match /tables/{tableId} {
      allow read: if isAuth();
      allow create, delete: if false;

      allow update: if isAdmin() || (
        isAuth() &&
        (resource.data.seats[request.resource.data.seatNumber] == null ||
        resource.data.seats[request.resource.data.seatNumber] == request.auth.uid)
      );
    }
  }
}
